@font-face{
    font-family: pokemonSolid;
    src: url("../src/components/fonts/Pokemon\ Solid.ttf");
}

@font-face{
    font-family: pokemonClassic;
    src: url("../src/components/fonts/Pokemon\ Classic.ttf");
}

h2{
    color:#ffee00;
    text-align: center;
    font-family: "pokemonSolid";
    margin: 40px auto;
    font-size: 85px;
}

body
{
   background: url(./components/css/bg.png) center fixed;
   background-size: cover;
   height: 100vh;
   width: 100vw; 
   position: relative;
}

.cardPokemon{

    background-image: url(./components/css/card.png);
    background-size: cover;
}

img {
	width: 262px;
	height: 346px;
}

.principal_card{

    background-image: url(./components/css/pp.jpeg);
    background-size: cover;
    height: 100%;
}

h5{
    font-family: "pokemonClassic";
    font-size: 24px;
}

p{
    font-size: 18px;
    font-weight: bold;
}